<aside>
    <h3>Neue Tutorials</h3>
    <ul>
        <li>HTML5 Der schnelle Einstieg, 10.2021 - Dauer: 2 Stunden 40 Minuten</li>
        <li>CSS3 Tutorial, 02.2013 - Dauer: 1 Stunden 55 Minuten</li>
    </ul>
</aside>